*{
    border:0px;
    padding:0px;
    margin: 0px;

}
body {
    /* background-image: url('images/back7.jpg'); */

    color: white;
    background: linear-gradient(0deg, rgba(2, 12, 0, 0.712), rgba(2, 12, 0, 0.712)), url('../img/walk.jpg') no-repeat;
}

/* global style  */

